<div class="container">
    <div class="text-center">
        <h1>Are you registering for customer or owner?</h1>
        <div class="pt-5 mt-5">
            <a href="/register/registerCustomer" class="btn btn-primary ">Customer Register</a>
            <a href="/register/pickLaundromat" class="btn btn-primary ml-5">Owner Register</a>
        </div>
    </div>
</div>