<div class="container">
    <h1>Are you registering for customer or owner?</h1>
    <a href="/register/registerCustomer"><button class="btn btn-primary">Customer register</button></a>
    <a href="/register/pickLaundromat"><button class="btn btn-primary">Owner register</button></a>
</div>