<div class="container text-center mt-5">
<form action="" method="POST">
        <div class="form-group">
            <label for="">Enter your zip code to look for your laundromat</label>
            <input class="form-control mt-5" type="text" name="zipcode" placeholder="Search">
            <input type="submit" class="form-control btn btn-primary" value="Submit">
        </div>
</form>
</div>