<script>
    $(document).ready( () =>{
        let string=window.location.href;
        let address=decodeURI(string.split("name=")[1].split("address=")[1]);
        let name=decodeURI(string.split("name=")[1].split("/address=")[0]);

        $("#laundromatAddress").val(address);
        $("#laundromatName").val(name);


    });
</script>


{{#if message.length}}
	<div class="alert alert-danger text-center">
		{{message}}
	</div>
{{/if}}

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
         Register Owner
      </h1>
      <form action="" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input required type="name" id="name" name="name" class="form-control" placeholder="Enter Name" value=""/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            required 
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            required
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            required
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="phone_number">Phone Number</label>
          <input
            required
            type="phone_number"
            id="phone_number"
            name="phone_number"
            class="form-control"
            placeholder="Enter Phone number"
            value=""
          />
        </div>

        <div id="ownerOptions">
            <label for="laundromatName">Laundromat Name</label>
            <input type="text" id="laundromatName" name="laundromatName" readonly><br>
            <label for="laundromatAddress">Laundromat Address</label>
            <input type="text" id="laundromatAddress" name="laundromatAddress"readonly><br>
            <label for="laundromatName">Laundromat zipcode</label>
            <input type="text" id="zipcode" name="zipcode" value="">
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>




      </form>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>

