
{{#if message.length}}
	<div class="alert alert-danger text-center">
		{{message}}
	</div>
{{/if}}

<div class="row mt-5">
  <div class="col-md-6 m-auto">
	<div class="card card-body">
    	<h1 class="text-center mb-3">
        	Register Customer
      	</h1>
      	<form action="" method="POST">
        	<div class="form-group">
          		<label for="name">Name</label>
          		<input required type="name" name="name" class="form-control" placeholder="Enter Name" value=""/>
        	</div>
        	<div class="form-group">
          		<label for="email">Email</label>
         		<input required type="email" name="email" class="form-control" placeholder="Enter Email"value=""/>
        	</div>
			<div class="form-group">
				<label for="password">Password</label>
          		<input required type="password" id="password" name="password" class="form-control" placeholder="Create Password" value=""/>
        	</div>
        	<div class="form-group">
          		<label for="password2">Confirm Password</label>
          		<input required type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value=""/>
        	</div>

        	<div class="form-group">
          		<label for="address">Street address</label>
          		<input required type="address" name="street" class="form-control" placeholder="Enter Street Address" value=""/>
        	</div>
			<div class="form-group">
          		<label for="">(Optional) APT#</label>
          		<input type="text"  name="apt" class="form-control" placeholder="Enter APT#" value=""/>
        	</div>
			<div class="form-group">
          		<label for="">City</label>
          		<input required type="text" name="city" class="form-control" placeholder="Enter City" value=""/>
        	</div>
			<div class="form-group">
          		<label for="address">State</label>
          		<input required type="text" name="state" class="form-control" placeholder="Enter State" value=""/>
        	</div>
			<div class="form-group">
          		<label for="">Zipcode</label>
          		<input required type="number" name="zipcode" class="form-control" placeholder="Enter Zipcode" value=""/>
        	</div>
			<div class="form-group">
				<label for="phone_number">Phone Number(Do not include dashes)</label>
				<input required type="phone_number" id="phone_number" name="phone_number" class="form-control" placeholder="Enter Phone number" value=""/>
			</div>

			<button type="submit" class="btn btn-primary btn-block">
				Register
			</button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>

