<div class="container">
    <div class="jumbotron row">
        <div class="col-12">
            <p class="lead">A web app designed for laundromat customers and owners to handle drop off requests and deliveries</p>
        </div>

        {{!-- <div class="row">
            <a href="register" class="btn btn-primary col-6">Register</a>
            <a href="login" class="btn btn-primary col-6">Login</a>
        </div> --}}

    </div>
</div>