<div class="container">
    <form action="" method="POST">
        <div class="form-group">
            <label for="">Enter your zip code to look for registered laundromats available for drop off service!</label>
            <input class="form-control" type="text" name="zipcode" placeholder="Search">
            <input type="submit" class="form-control btn btn-primary" value="Submit">
        </div>
    </form>
    
    <p>Dont have an account?<a href="register">Register!</a></p>
    <p>Returning user? Login! <a href="login">Login!</a></p>
</div>