<div class="container-fluid">
    <div class="jumbotron row text-center">
        <div class="col-12">
            <p class="lead">A web app designed for laundromat customers and owners to handle drop off requests and deliveries</p>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row howItWorks text-center">
        <div class="col-12">
             <h1 class="display-4">How it works</h1>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>Order online</h3>
            <p>Pick and order from a registered laundromat with a schduled pick up time</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>Laundry gets picked up</h3>
            <p>laundromat gets notified and picks up your laundry</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>Have laundry washed and folded</h3>
            <p>Laundromat charges fee and provide wash and fold servide to your leaundry</p>
        </div>
        <div class="col-md-3">
            <h3>Have laundry delivered</h3>
            <p>Once laundry is finished,it is delivered to your door step</p>
        </div>
    </div>

</div>