<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry App</title>
</head>
<body>

    <div class="container">
        <ul class="result_list">
            {{#each this}}
                {{#if this.laundromatName}}
                    <a href="laundromatPage/{{this.laundromatName}}/{{this.laundromatAddress}}"><li>{{this.laundromatName}} address:{{this.laundromatAddress}}</li></a>
                {{/if}}
            {{/each}}
        </ul>
    </div>
    

</body>
</html>