<script type="text/template" id="customerDropdown">


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown button
        </button>
        <div class="dropdown-menu" >
            <button class="dropdown-item option">Cancel order</button>
            <button class="dropdown-item option"  id="opener">Rate service</button>
        </div>
    </div>


</script>

<script type="text/template" id="ownerDropdown">


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown button
        </button>
        <div class="dropdown-menu" >
            <button class="dropdown-item option">Accept order</button>
            <button class="dropdown-item option">Notify pickup</button>
            <button class="dropdown-item option">Order delivered</button>
            <button class="dropdown-item option">Cancel order</button>
        </div>
    </div>


</script>




{{#unless login}}
    <div class="container text-center">
        <h1><a href="/login">Login</a> to see your current orders. Don't have an account? <a href="/register">Register!</a></h1>
    </div>
{{/unless}}




{{#if message}}
    <div class="alert alert-info text-center">
        {{message}}
    </div>
{{/if}}


<div class="stars" id="dialog">
    <p>Please submit a review for this order</p>
    <form action="" method="POST">
        <div class="mr-4">
            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
            <label class="star star-1" for="star-1"></label>
            <input type="text" id="containID" style="display: none;" name="containID">
        </div>
        <button type="submit" class="btn btn-primary" id="btnSubmit" value="Submit">Submit</button>
    </form>
</div>


<div id="dialog2">
    <form action="/orderDeliveryTime" method="POST">
        <label>Select estimated delivery time on this order</label>
        <input type="time" name="estimatedDeliveryTime">
        <br></br>
        <br><label>Input the price of this order</label></br>
        <span class="currency">$<input type="number" step="0.01" name="orderPrice"></span>
        <input type="text" name="orderID" id="orderID" style="display: none;">
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
</div>

<div id="info">
    <label for=""><b>Pick up date</b>:</label>
    <p id="pickUpDate"></p>

    <label for=""><b>Pick up time</b>:</label>
    <p id="pickUpTime"></p>

    <label for=""><b>Delivery date</b></label>
    <p id="deliveryDate"></p>

    <label for=""><b>Delivery time</b></label>
    <p id="deliveryTime"></p>

    <label for=""><b>Order price</b></label>
    <p id="priceOfOrder"></p>



</div>







<h1 id="first"></h1>



<div class="container">
    <table class="table">
        <thead id="th">


        </thead>


        <tbody id="tbody">
        </tbody>
    </table>

</div>


<style>
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

#btnSubmit{
    margin-left:80px;
}

.table{
    width: 1500px;
}

</style>

<script src="/assets/js/orders.js"></script>